@* Generator: Template
    TypeVisibility: Internal
    GeneratePrettyNames: true
    DisableLinePragmas: true*@
@using System
@using System.Collections.Generic
@using Hangfire
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@using Hangfire.States
@using Hangfire.Storage
@using System.Reflection;
@using Cronos;
@using Hangfire.Dashboard.Extensions.Models;
@using Hangfire.Dashboard.Extensions;
@using Hangfire.Dashboard.Extensions.Resources;

@inherits RazorPage

@{
    Init();
}

<!-- Modal模态框模板 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" id="periodModalDialog" role="document">
        <!-- 内容有具体事件决定加载 -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">@Strings.RecurringJobsPage_Title</h1>
        <div class="js-jobs-list">

            @*顶部操作栏*@
            <div class="btn-toolbar btn-toolbar-top">
                @*新增*@
                <button class="btn btn-info btn-sm js-periodic-jobs-list-edit"
                        data-toggle="modal"
                        data-target="#myModal">
                    @Strings.Common_Created
                </button>
                @*触发*@
                @if (!IsReadOnly)
                {
                    <button class="js-jobs-list-command btn btn-sm btn-primary"
                        data-url="@Url.To("/recurring/trigger")"
                        data-loading-text="@Strings.RecurringJobsPage_Triggering"
                        disabled="disabled">
                        <span class="glyphicon glyphicon-play-circle"></span>
                        @Strings.RecurringJobsPage_TriggerNow
                    </button>
                }
                @*删除*@
                @if (!IsReadOnly)
                {
                    <button class="js-jobs-list-command btn btn-sm btn-danger"
                        data-url="@Url.To("/periodic/remove")"
                        data-loading-text="@Strings.Common_Deleting"
                        data-confirm="@Strings.Common_DeleteConfirm"
                        disabled="disabled">
                        <span class="glyphicon glyphicon-remove"></span>
                        @Strings.Common_Delete
                    </button>
                }
                @*分页*@
                @if (pager != null)
                {
                    @: @Html.PerPageSelector(pager)
                }
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            @if (!IsReadOnly)
                            {
                                <th class="min-width">
                                    <input type="checkbox" class="js-jobs-list-select-all" />
                                </th>
                            }
                            <th>@Strings.Common_Id</th>
                            <th class="min-width">@Strings.RecurringJobsPage_Table_Cron</th>
                            <th>@Strings.RecurringJobsPage_Table_TimeZone</th>
                            <th>@Strings.Common_Job</th>
                            <th>@Strings.Common_Enqueued</th>
                            <th>@RayStrings.PeriodicJobsPage_Table_State</th>
                            <th class="align-right min-width">@Strings.RecurringJobsPage_Table_LastExecution</th>
                            <th class="align-right min-width">@Strings.RecurringJobsPage_Table_NextExecution</th>
                            <th class="align-right min-width">@Strings.Common_Created</th>
                            <th class="align-right min-width">@RayStrings.PeriodicJobsPage_Table_Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in periodicJobs)
                        {
                            <tr class="js-jobs-list-row">

                                @*复选框*@
                                @if (!IsReadOnly)
                                {
                                    <td rowspan="@(job.Error != null ? "2" : "1")">
                                        <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Id" />
                                    </td>
                                }

                                @*编号*@
                                <td class="word-break width-15" style="min-width: 80px">@job.Id</td>

                                @*Cron*@
                                <td style="min-width: 125px" class="min-width">
                                    @{
                                        var cronDisplay = job.GetCronDisplayInfo();
                                    }

                                    @if (cronDisplay.Item2 != null)
                                    {
                                        <code title="@cronDisplay.Item2" class="cron-badge">
                                            @if (cronDisplay.Item1)
                                            {
                                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                            }
                                            @job.Cron
                                        </code>
                                    }
                                    else
                                    {
                                        <code class="cron-badge">@job.Cron</code>
                                    }
                                </td>

                                @*时区*@
                                <td>
                                    @{
                                        var timeZoneDisplayInfo = job.GetTimeZoneDisplayInfo(this.DashboardOptions);
                                    }
                                    <span title="@timeZoneDisplayInfo.Item1" data-container="body">
                                        @job.TimeZoneId
                                        @if (timeZoneDisplayInfo.Item2 != null)
                                        {
                                            <span class="glyphicon glyphicon-exclamation-sign" title="@timeZoneDisplayInfo.Item2.Message"></span>
                                        }
                                    </span>
                                </td>

                                @*作业*@
                                <td class="word-break width-30" style="min-width: 100px">
                                    @if (job.Job != null)
                                    {
                                        @: @Html.JobName(job.Job)
                                    }
                                    else if (job.LoadException != null && job.LoadException.InnerException != null)
                                    {
                                        <em>@job.LoadException.InnerException.Message</em>
                                    }
                                    else if (job.LoadException != null)
                                    {
                                        <em>@job.LoadException.Message</em>
                                    }
                                    else
                                    {
                                        <em>@Strings.Common_NotAvailable</em>
                                    }
                                </td>

                                @*队列*@
                                <td>@job.Queue</td>

                                @*状态*@
                                <td>
                                    @if (job.JobState == "Running")
                                    {
                                        <span class="label label-success">@job.JobState</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">@job.JobState</span>
                                    }
                                </td>

                                @*最后一次执行*@
                                <td class="align-right min-width">
                                    @if (job.LastExecution != null)
                                    {
                                        if (!String.IsNullOrEmpty(job.LastJobId))
                                        {
                                            <a href="@Url.JobDetails(job.LastJobId)" style="text-decoration: none">
                                                <span class="label label-default label-hover" style="@($"background-color: {JobHistoryRenderer.GetForegroundStateColor(job.LastJobState ?? EnqueuedState.StateName)};")">
                                                    @Html.RelativeTime(job.LastExecution.Value)
                                                </span>
                                            </a>
                                        }
                                        else
                                        {
                                            <em>
                                                @Strings.RecurringJobsPage_Canceled @Html.RelativeTime(job.LastExecution.Value)
                                            </em>
                                        }
                                    }
                                    else
                                    {
                                        <em>@Strings.Common_NotAvailable</em>
                                    }
                                </td>

                                @*下一次执行时间*@
                                <td class="align-right min-width">
                                    @if (!job.NextExecution.HasValue)
                                    {
                                        if (job.Error != null)
                                        {
                                            <span class="label label-danger text-uppercase">@Strings.Common_Error</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default text-uppercase" title="@Strings.RecurringJobsPage_RecurringJobDisabled_Tooltip">@Strings.Common_Disabled</span>
                                        }

                                    }
                                    else if (job.RetryAttempt > 0)
                                    {
                                        <span class="label label-warning">@Html.RelativeTime(job.NextExecution.Value)</span>
                                    }
                                    else
                                    {
                                        @Html.RelativeTime(job.NextExecution.Value)
                                    }
                                </td>

                                @*创建时间*@
                                <td class="align-right min-width">
                                    @if (job.CreatedAt != null)
                                    {
                                        @Html.RelativeTime(job.CreatedAt.Value)
                                    }
                                    else
                                    {
                                        <em>N/A</em>
                                    }
                                </td>

                                @*操作*@
                                <td style="min-width:100px" class="align-right">
                                    <button type="button" class="js-periodic-jobs-list-edit btn btn-info btn-xs"
                                        data-toggle="modal"
                                        data-target="#myModal"
                                        data-id="@job.Id">
                                        @RayStrings.PeriodicJobsPage_Edit
                                    </button>
                                    @if (job.JobStateEnum == JobState.Running)
                                    {
                                        @*停止*@
                                        <button type="button" class="js-period-jobs-list-command btn btn-warning btn-xs"
                                        data-url="@Url.To($"{PeriodicJobPage.PageRoute}/stop?jobId={job.Id}")">
                                            Stop
                                        </button>
                                    }
                                    @if (job.JobStateEnum == JobState.Stoped)
                                    {
                                        @*开启*@
                                        <button class="js-period-jobs-list-command btn btn-success btn-xs"
                                        data-url="@Url.To($"{PeriodicJobPage.PageRoute}/start?jobId={job.Id}")">
                                            Start
                                        </button>
                                    }
                                </td>

                                @if (job.Error != null)
                                {
                                <tr>
                                    <td colspan="@(IsReadOnly ? "6" : "7")" class="failed-job-details">
                                        <pre class="stack-trace"><code>@Html.StackTrace(job.Error)</code></pre>
                                    </td>
                                </tr>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (pager != null)
            {
                @: @Html.Paginator(pager)
            }
        </div>
    </div>
</div>


@*<script src="@Url.To("/js0")"></script>*@
@*<script src="@Url.To("/js-ext0")"></script>*@
